.post-card {
    border: 1px solid #e4e6eb;
    padding: 16px;
    margin-bottom: 16px;
    background: #fff;
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;

    .post-header {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    .post-info {
        margin-left: 8px;
        display: flex;
        gap: 4px;
        align-items: center;
    }

    .post-time {
        color: #666;
        font-size: 12px;
    }

    .post-content {
        margin-bottom: 16px;
    }

    .img-body {
        display: flex;
        justify-content: center;
        margin: 8px;
    }

    .post-image {
        border-radius: 8px;
        margin-bottom: 16px;
    }

    .post-actions {
        display: flex;
        justify-content: space-between;
        color: #606770;
        font-size: 14px;
    }

    .post-action {
        display: flex;
        align-items: center;
        margin-right: 16px;
        cursor: pointer;
    }

    .reaction-section {
        display: flex;
        gap: 16px;
        background: #fff;
        border: 1px solid #e4e6eb;
        border-radius: 8px;
        padding: 8px;
        position: absolute;
        z-index: 1;
    }


    .reaction-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        margin: 8px 0;
    }

    .reaction-icon svg {
        margin-right: 4px;
    }
}